* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#content {
    height: 100%;
    width: 100%;
    z-index: 10;
}

#bg {
    position: absolute;
    z-index: -10;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/kino.jpg);
    background-size: cover;
}

#rain {
    position: absolute;
    z-index: -5;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/RAIN_GIF.gif);
    background-size: contain;
}

#rain.active {
    display: none;
}

#sidebar {
    height: 100%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#weather {
    height: 80%;
    width: 90%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}